# Web Framework
fastapi
uvicorn[standard]
python-multipart

# Database
pymongo[srv]
certifi
dnspython
langchain-mongodb

# LangChain Core
langchain
langchain-core
langchain-community
langchain-text-splitters

# Google AI — LLM + Embeddings
langchain-google-genai
google-genai

# Auth & Security
passlib[bcrypt]
bcrypt==4.0.1
python-jose[cryptography]

# Utilities
python-dotenv
pypdf
pydantic
pydantic-settings